@model IEnumerable<TourMarket.Entities.Order>
@{
    ViewData["Title"] = "Index";
}
<style>
    .basket-container{
        border-radius:3px;
        background:white;
        padding: 10px;
        height:80vh;
        margin-top:71px;
    }
    .glyphicon:hover{
        cursor:pointer;
    }
</style>
<div class="container basket-container">
    @if (Model.Any())
    {
        <h1>Корзина заказов</h1>
        <div class="row">
            <div class="col-xs-2">
                Место
            </div>
            <div class="col-xs-2">
                Отель
            </div>
            <div class="col-xs-1">
                Начало
            </div>
            <div class="col-xs-1">
                Окончание
            </div>
            <div class="col-xs-1">
                Мест
            </div>
            <div class="col-xs-1">
                Сумма
            </div>
            <div class="col-xs-2">
                Статус
            </div>
            <div class="col-xs-1">
                Подтвердить
            </div>
            <div class="col-xs-1">
                Отменить
            </div>
        </div>
        <hr />
        foreach (var order in Model)
        {
        <div class="row">
            @Html.Hidden(order.Id.ToString())
            <div class="col-xs-2">
                @order.Hotel.City.Name, @order.Hotel.City.Country.Name
            </div>
            <div class="col-xs-2">
                @order.Hotel.Name
            </div>
            <div class="col-xs-1">
                @order.DateFrom.ToShortDateString()
            </div>
            <div class="col-xs-1">
                @order.DateTo.ToShortDateString()
            </div>
            <div class="col-xs-1">
                @order.CountPlaces
            </div>
            <div class="col-xs-1">
                @order.Sum$
            </div>
            <div class="col-xs-2">
                @order.State.Description
            </div>
            <div class="col-xs-1 approve">
                @if (@order.State.Description != "Оплачено")
                {
                    <span data-id="@order.Id" style="color:green" class="glyphicon glyphicon-ok" aria-hidden="true" onclick="Approve(this)"></span>
                }
            </div>
            <div class="col-xs-1 remove">
                @if (@order.State.Description != "Оплачено")
                {
                    <span data-id="@order.Id" style="color:red" class="glyphicon glyphicon-remove" aria-hidden="true" onclick="Remove(this)"></span>
                }
            </div>
        </div>
        }
    }
    else
    {
        <h1>Корзина пуста</h1>
    }
</div>
<script>
    function Approve(context) {
        var el = $(context);
        var orderId = el.data('id');
        console.log(orderId);
        var url = "/basket/approve?orderId=" + orderId;
        $.get(url).success(function () {
            window.location.href = "/basket/index/";
        });
    }
    function Remove(context) {
        if (!confirm("Вы уверены?")) return;
        var el = $(context);
        var orderId = el.data('id');
        console.log(orderId);
        var url = "/basket/remove?orderId=" + orderId;
        $.get(url).success(function () {
            window.location.href = "/basket/index/";
        });
    }
</script>
